html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

h3 {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  width: 500px;
  margin: 8px auto 0;
  padding: 0px 100px 0px 100px;
}

/* Basic Style */
.contant {
  display: block;
  margin: 0 auto 24px;
  text-align: right;
}

.contant-img {
  height: auto;
}

.contant-more-info {
  font-family: 'fantasy', cursive;
  font-size: 15px;
}

.tasks {
  display: inline-block;
  flex-grow: 1;
  width: 56%;
  box-sizing: border-box;
  font-size: 18px;
  padding-left: 10px;
  vertical-align: middle;
}

.add-wrap {
  display: flex;
}

.task-wrap {
  margin:0;
  padding: 0px;
}

.btn {
  width: 60px;
  background: transparent;
  border: none;
  color: #888;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
}

.ntn:hover {
  color: #3a3a3a;
}

/* Heading */
.title,
.new-task {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.title {
  padding: 45px 0 10px;
}

.input-task {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #888;
  line-height: 18px;
  height: 21px;
  margin: 0;
  padding: 0 9px;
}

.input-task:focus {
  color: #333;
}

/* New Task */
.new-task {
  display: block;
  margin: 0 0 22px;
}

/* Task list */
.tasks-item {
  overflow: hidden;
  padding: 22px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style:none;
}

.tasks-item:last-child {
  padding: 22px 0 7px 0;
}

.checkbox {
  margin: 0 10px;
}

.edit {
  flex-grow: 1;
}

.delete-btn {
  padding: 1px 6px 1px 15px;
}

.delete-btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: 200ms ease-in;
}

.delete-btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .tasks {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.input-task.edit {
  display:none
}

.edit-mode .input-task {
  display:inline-block;
  width: 224px
}

.edit-mode .tasks {
  display:none;
}
@media (max-width: 768px) {
  .contant { 
    text-align: center;
  }
}